/* Structure */
.mat-mdc-form-field {
    font-size: 14px;
  }
  
  .main-container {
    margin: 10px 10px;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button {
    cursor: pointer;
  }
  
  .actions-column {
    margin: 0px 5px;
  }
  