/* Structure */
.mat-mdc-form-field {
  font-size: 14px;
  margin: 1px 5px
}
.mat-sort-header-arrow {
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.full-width {
  width: 100%;
}

.button {
  cursor: pointer;
}
.mat-button {
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px 2px;
}

.actions-column {
  margin: 0px 5px;
}
