.spacer {
    flex: 1 1 auto;
}  

mat-toolbar{
    background-color: #2c2a29;
    color: #fff
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 200px;
    background-color: #2c2a29;
}

.items-menu{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.icons-color{
    color: #fff;
}