<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="opened=!opened">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Reportes OCIF</span>
        <span class="spacer"></span>
        <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="" aria-label="icon-button with share icon">
            <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <hr class="hr-sidenav">
        <ul class="mat-list-sidenav">
            <li *ngFor="let info_opciones of navInfoOpcionesMenu" class="mat-list-item-sidenav">
                <a [routerLink]="[info_opciones.routeLink]" class="nav-link" (click)="toggleSubMenu(info_opciones)">
                    <mat-icon class="icon-link">{{info_opciones.icon}}</mat-icon>
                    <span class="nav-link-label">{{info_opciones.label}}</span>
                    <!-- <mat-icon *ngIf="!info_opciones.submenu || info_opciones.submenu.length === 0"></mat-icon> -->
                    <mat-icon class="icon-flecha-submenu"
                        *ngIf="info_opciones.openSubMenu && info_opciones.submenu && info_opciones.submenu.length > 0"
                        fontIcon="keyboard_arrow_down"></mat-icon>
                    <mat-icon class="icon-flecha-submenu"
                        *ngIf="!info_opciones.openSubMenu && info_opciones.submenu && info_opciones.submenu.length > 0"
                        fontIcon="keyboard_arrow_right"></mat-icon> </a>
                <ul *ngIf="info_opciones.openSubMenu" class="mat-list-sidenav-submenu" [@openClose]="info_opciones.openSubMenu ? 'open' : 'closed'" id={{info_opciones.id}}>
                    <!-- <ul [@openClose]="info_opciones.openSubMenu ? 'open' : 'closed'" class="mat-list-sidenav-submenu" id={{info_opciones.id}}> -->
                    <li *ngFor="let subitem of info_opciones.submenu" class="mat-list-item-sidenav-submenu">
                        <a [routerLink]="[subitem.routeLink]" class="nav-link-submenu">
                            <mat-icon class="icon-link-submenu">{{subitem.icon}}</mat-icon>
                            <span class="nav-link-label-submenu">{{subitem.label}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>